<H1><B>01 Data Collection</B></H1>

<H3><B>Step 1</B>&nbsp;&nbsp;&nbsp;Connect to website, find data</H3>
Inormation given by professor Jeroen: Op een fictieve site van het Medisch Centrum Randstad vinden jullie de data van gegenereerde
gegevens betreffende levensstijl en levensverwachting. Aan jullie de taak om deze data te scrapen.<br>&nbsp; <i>This paragraph still needs attention and explanation how we obtained data in which way.</i>

<H3><B>Step 2</B>&nbsp;&nbsp;&nbsp;Save DATA to suitable location.</H3><i>With advice from Jeroen we understood temporary data is stored locally on your drive after analyzing DataFrame online.</i><br>Find temporary DATA in '\Project\rest_server\medisch_centrum_randstad\db.sqlite3' (depending on your USER location).<br>&nbsp;

<H3><B>Step 3</B>&nbsp;&nbsp;&nbsp;Import data into SQLite and EXPORT DATA as CSV</H3>
Import <B>scraped data (file 'db.sqlite3')</B> into DB Browser for SQLite. <br>Find data from 'Tables/rest_api_netlify' and EXPORT DATA as CSV.<br>&nbsp;

In [1]:
from PIL import Image
import csv
import json
import os

import pandas as pd
import sqlite3

import matplotlib.pyplot as plt
import numpy as np
import scipy as cp

In [9]:
import pandas as pd
# df = pd.DataFrame()
# Data inlezen
df = pd.read_csv('csv/medisch_centrum_randstad.csv')
display(df)

df.columns[1]
# display(df['genetic'])   # Age is variable and usable.
display(df.genetic)      # 'Hard-Coded: short version of previous. Same output.
# type(df['genetic'])        # pandas.core.series.Series

# NOTE: This DataFrame uses 'genetic' for 'age'.

        id  genetic  length  mass  exercise  smoking  alcohol  sugar  lifespan
0        1     84.0   180.0  90.0       2.0      9.0      1.0      2        86
1        2     84.0   204.0  79.0       3.0      2.0      7.0      3       100
2        3     84.0   174.0  74.0       3.0     20.0      3.0      2        87
3        4     84.0   187.0  78.0       2.0      6.0      5.0      3        91
4        5     84.0   187.0  89.0       2.0     12.0      0.0      2        83
...    ...      ...     ...   ...       ...      ...      ...    ...       ...
8187  8188     82.0   185.0  67.0       3.0     11.0      8.0      2        90
8188  8189     82.0   183.0  72.0       2.0      1.0      5.0      4        88
8189  8190     83.0   192.0  92.0       1.0     22.0      2.0      4        62
8190  8191     81.0   175.0  60.0       3.0     13.0      7.0      2        93
8191  8192     83.0   204.0  76.0       3.0      8.0      8.0      1        96

[8192 rows x 9 columns]

0       84.0
1       84.0
2       84.0
3       84.0
4       84.0
        ...
8187    82.0
8188    82.0
8189    83.0
8190    81.0
8191    83.0
Name: genetic, Length: 8192, dtype: float64

In [2]:
BMI = int(df.mass/(df.length/100)**2)

NameError: name 'df' is not defined

&nbsp;<br><H3><B>Step 3</B>   Think about process to automate the above.</H3><i>This paragraph still needs attention and explanation.</i>