<H1><B>01 PIPELINE & DATA COLLECTION</B></H1>

In [1]:
#!/usr/bin/env python

# Imports
import logging
import pandas as pd
import sqlite3

# Hardening
from pathlib import Path

# Global configuration
logging.basicConfig(level=logging.DEBUG)
dbName = 'rest_server/medisch_centrum_randstad/db.sqlite3'
tableName = 'rest_api_netlify'

# Collecting the data
logging.info('Load transformed data from database into dataframe')

# Kajal
logging.info(f"Connect to {Path(dbName).name}")
dbConnection = sqlite3.connect(dbName)
patient_DF = pd.read_sql_query(f"SELECT * FROM {tableName}", dbConnection)
logging.debug(patient_DF.head())

# Cleaning
logging.info('Preprocessing : remove rows with missing values')
dfCleanFromDB = patient_DF.dropna()
logging.debug(dfCleanFromDB.head())
dfCleanFromDB.to_csv('data/data_cleaned1.csv', header=True, index=False)

# close Connection
dbConnection.close()

INFO:root:Load transformed data from database into dataframe
INFO:root:Connect to db.sqlite3

OperationalError: unable to open database file

In [3]:
df = pd.read_csv('data/data_cleaned1.csv')
display(df)

df.columns[1]
# display(df['genetic'])   # Age is variable and usable.
display(df.genetic)      # 'Hard-Coded: short version of previous. Same output.
# type(df['genetic'])        # pandas.core.series.Series

# NOTE: This DataFrame uses 'genetic' for 'age'.

,id,genetic,length,mass,exercise,smoking,alcohol,lifespan,sugar
0,1,73.9,185.0,99.7,0.9,0.0,2.4,73.1,6.9
1,2,86.0,172.0,105.4,1.8,8.1,0.4,85.0,4.2
2,3,83.3,176.0,111.4,1.1,0.8,4.6,81.6,7.5
3,4,82.8,164.0,111.4,4.7,11.8,1.0,81.0,2.9
4,5,78.7,178.0,71.6,1.5,8.3,4.9,75.0,5.5
...,...,...,...,...,...,...,...,...,...
4079,4092,80.3,176.0,115.9,3.7,0.1,5.6,80.7,5.8
4080,4093,75.3,162.0,129.6,3.6,6.2,5.6,71.1,7.6
4081,4094,93.1,189.0,115.3,2.7,9.4,4.9,90.0,6.6
4082,4095,77.9,170.0,90.8,2.3,13.2,0.8,75.9,6.2
4083,4096,101.3,188.0,129.2,1.2,8.2,6.0,96.9,6.2

0        73.9
1        86.0
2        83.3
3        82.8
4        78.7
        ...
4079     80.3
4080     75.3
4081     93.1
4082     77.9
4083    101.3
Name: genetic, Length: 4084, dtype: float64